/* General */
html {
	scroll-behavior: smooth;
}
.float-clear {
	clear: both;
}

/* Navigation */
.background-white {
	background: white;
}

/* Footer */
.dividor {
	height: 5vh;
	background: url(../img/holiday.jpg) center center;
}

.bg-foooter {
	background: #030303;
	color: #7f7f7f;
}

.menu-title {
	font-family: "Leckerli One", cursive;
}
