/* General */
.float-clear {
	clear: both;
}

/* Navigation */
ul a {
	text-decoration: none;
	color: gray;
}

/* Footer */
.dividor {
	height: 5vh;
	background: url(../img/holiday.jpg) center center;
}
